<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuit.edu.achieve.dao.AdminDao">
    <resultMap id="adminResultMap" type="cn.cuit.edu.achieve.bean.Admin">
        <id column="adminId" property="adminId" jdbcType="INTEGER" />
        <result column="adminName" property="adminName" jdbcType="NVARCHAR" />
        <result column="adminPassword" property="adminPassword" jdbcType="NVARCHAR" />
        <result column="adminLevel" property="adminLevel" jdbcType="INTEGER" />
    </resultMap>
    <select id="selectAll" resultMap="adminResultMap" parameterType="cn.cuit.edu.achieve.bean.Admin">
        select * from t_admin
        <where>
            <if test="adminId!=null and adminId!=''">
                and adminId = #{adminId}
            </if>
            <if test="adminName!=null and adminName!=''">
                and adminName = #{adminName}
            </if>
            <if test="adminPassword!=null and adminPassword!=''">
                and adminPassword = #{adminPassword}
            </if>
            <if test="adminLevel!=null and adminLevel!=''">
                and adminLevel = #{adminLevel}
            </if>
        </where>
        order by adminId
    </select>




<!--    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >-->
<!--        delete from t_admin-->
<!--        where adminId = #{adminId,jdbcType=INTEGER}-->
<!--    </delete>-->
<!--    <insert id="insert" parameterType="com.model.Admin" >-->
<!--        insert into t_admin (adminId, adminName, adminPassword-->
<!--        )-->
<!--        values (#{adminId,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, #{adminPassword,jdbcType=VARCHAR}-->
<!--        )-->
<!--    </insert>-->
<!--    <update id="updateByPrimaryKey" parameterType="com.model.Admin" >-->
<!--        update t_admin-->
<!--        set adminName = #{adminName,jdbcType=VARCHAR},-->
<!--        adminPassword = #{adminPassword,jdbcType=VARCHAR}-->
<!--        where adminId = #{adminId,jdbcType=INTEGER}-->
<!--    </update>-->
</mapper>